/* Atribuição */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* RESET */

:root{
  font-size:62.5%;
}

a {
	text-decoration: none;
}

*{
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
  font-size:1.6rem;
}

ol, ul {
	list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}

img{
  max-width: 100%;
  display: block;
}

/* General Styles */

.container{
  max-width: 1140px;
  margin: 0 auto;
}

/* NAVBAR */

header{
  background:#fff;
  z-index: 100;
  display: block;
  position: relative;
}

.navmenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  height: 70px;
}

.req-invite-btn {
  font-size:1.4rem;
  background: linear-gradient(90deg, #31CF6E 0%, #2CB9CA 100%);
  color:#fff;
  padding: 15px 30px;
  border-radius:30px;
}

.req-invite-btn:hover {
  background: linear-gradient(90deg, #8bfcb6 -50%, #7cf2ff 100%);
}
.nav-menu ul{
  display: flex;
  flex-wrap:wrap;
}

.nav-menu ul li+li{
  margin-left: 30px;
}

.nav-menu li a{
  color:hsl(233, 8%, 62%);
  font-size:1.4rem;
  padding: 20px 0;
}
.nav-menu li a:hover{
  border-bottom:3px solid;
  border-image-source: linear-gradient(90deg, #31CF6E 0%, #2CB9CA 100%);
  border-image-slice: 1;
}

/* Intro */

.intro{
  background-image:url(../images/bg-intro-desktop.svg);
  background-size: 80%;
  height: 70rem;
  background-repeat:no-repeat;
  background-position: 200% 100%;
  z-index: -1;
}

.intro-content{
  padding-top:10em;
}

.intro-content h1{
  color:hsl(233, 26%, 24%);
  font-size: 4.8rem;
  max-width: 400px;
  margin-bottom: 20px;
}

.intro-content p{
  color:hsl(233, 8%, 62%);
  max-width: 400px;
  margin-bottom: 60px;
}

.bg-intro-mockups{
  position:absolute;
  top:-7rem;
  right: 0;
  z-index: 1;
}

/* Subtitle */

.grid-section{
  background-color:hsl(220, 16%, 96%);
  padding: 80px 0;
}

.grid-section h2{
  color:hsl(233, 26%, 24%);
  font-size:3.6rem;
  margin-bottom: 30px;
}

.grid-section p{
  color:hsl(233, 8%, 62%);
  max-width: 600px;
  line-height: 1.5;
}

.grid-container{
  margin-top: 60px;
  display: flex;
}

.grid-container div + div{
  margin-left: 30px;
}

.grid-item h3{
  font-size: 2.4rem;
  margin: 20px 0;
  color:hsl(233, 26%, 24%);
}

.grid-item p{
  max-width: 300px;
}

/* Articles Section */

.article-section{
  padding:80px 0;
  background:hsl(0, 0%, 98%);
}
.article-section h2{
  color:hsl(233, 26%, 24%);
  font-size:3.6rem;
  margin-bottom: 30px;
}

.article-call{
  background:hsl(0, 0%, 100%);
  padding: 25px;
  border-radius: 0px 0px 5px 5px;
}

.article-grid{
  display: flex;
}

.article-grid article + article{
  margin-left: 20px;
}

.article-grid img{
  border-radius: 5px 5px 0 0; 

}

.article-grid article h4{
  color:hsl(233, 8%, 62%);
  font-size:1rem;
  padding-bottom: 10px;
}

.article-grid article p{
  color:hsl(233, 8%, 62%);
  font-size:1.2rem;
  line-height: 1.5;
  max-width: 190px;
  padding-top: 10px;
}

.article-grid a{
  font-size:1.8rem;
  color:hsl(233, 26%, 24%);
}

.article-grid a:hover{
  color:hsl(192, 70%, 51%);
}

/* footer */

footer{
  background:hsl(233, 26%, 24%);
  padding: 60px 0px;
}

.footer-container{
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  align-items:center;
}

.social{
  display: flex;
  margin-top: 40px;
}

.social li a img{
  fill:#2CB9CA;
}

.social li+li{
  margin-left: 10px;
}

.icon-footer:hover{
  fill:hsl(136, 65%, 51%);
}

.nav-footer li{
  margin-bottom: 20px;
}

.nav-footer a{
 color:hsl(233, 8%, 62%);
}

.nav-footer a:hover{
  color:hsl(136, 65%, 51%);
}

.copy{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items:flex-end;
}

.copy a{
  max-width: 180px;
}

.copy p{
  color:hsl(233, 8%, 62%);
  margin-top: 20px;
}
 
